@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll 10s linear infinite;
  }

  body {
    @apply font-sans antialiased text-foreground;
    background-color: #2A3828; /* Dark green color from the screenshot */
  }
}